@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: Orbitron, sans-serif;
  line-height: normal;

  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  /* min-height: 100rem; */
}

body {
  margin: 0;
  padding: 2rem;
  background: #22272b;
}

header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-wrap: nowrap;
}

header img {
  max-width: min(8vw, 4rem);
}

header h1 {
  font-family: "Sixtyfour", sans-serif;
  color: #2abb7f;
  font-weight: bold;
  font-size: min(8vw, 4rem);

  margin: 2rem 0;
  margin-top: 2.5rem;
  text-transform: uppercase;
  flex-wrap: nowrap;
}

#quiz {
  max-width: 50rem;
  background: #dee4ea;
  margin: auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 8px 4px rgba(12, 5, 32, 0.6);
  text-align: center;
}

#question-overview {
  font-family: Orbitron, sans-serif;
  font-size: 0.8rem;
  font-weight: 550;
  color: #2abb7f;
  margin: 0;
  text-transform: uppercase;
}

#question progress {
  width: 90%;
  height: 0.75rem;
  border-radius: 24px;
  background: white;
  color: #2abb7f;
  margin-top: 2.5rem;
}

#question progress {
  background: white;
  border-radius: 24px;
}

#question progress::-webkit-progress-bar {
  background: white;
}

#question progress::-webkit-progress-value {
  background: #2abb7f;
}

#question progress::-moz-progress-bar {
  background: #2abb7f;
}

#question progress.answered,
#question progress.correct,
#question progress.skipped,
#question progress.wrong {
  display: none;
}

#question progress.answered,
#question progress.correct,
#question progress.skipped,
#question progress.wrong {
  display: none;
}

#question progress.answered,
#question progress.correct,
#question progress.skipped,
#question progress.wrong {
  display: none;
}

#question h2 {
  margin: 2.5rem auto;
  font-family: Orbitron, sans-serif;
  font-weight: 550;
  font-size: 1.5rem;
  font-weight: normal;
  color: black;
}

#answers {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

button {
  display: inline-block;
  color: black;
  width: 100%;
  font-family: Orbitron, sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: none;
  border-radius: 24px;
  background: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: #2abb7f;
  color: white;
}

button.selected,
button.selected:hover {
  border: 5px solid white;
  background: #dee4ea;
  color: #2c203d;
}

.answer {
  width: 90%;
  margin: 0 auto;
}

.answer button {
  display: inline-block;
  color: black;
  width: 100%;
  font-family: Orbitron, sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: none;
  border-radius: 24px;
  background: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.answer button:hover {
  background: #2abb7f;
  color: white;
}

.answer button.selected,
.answer button.selected:hover {
  border: 5px solid white;
  background: #dee4ea;
  color: #2c203d;
}

.answer button.correct {
  background: #2abb7f;
  color: white;
}

.answer button.wrong {
  background: #ff4500;
  color: white;
}

#summary {
  max-width: 50rem;
  margin: auto;
  padding: 2rem 5rem;
  background: #dee4ea;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 8px 4px rgba(12, 5, 32, 0.6);
  text-align: center;
  animation: slide-in-from-bottom 0.7s ease-out;
}

#summary img {
  display: block;
  width: 10rem;
  height: 10rem;
  margin: 0 auto 0 auto;
  padding: 1rem;
}

#summary h2 {
  font-family: Orbitron, sans-serif;
  font-size: min(8vw, 3rem);
  font-weight: 550;
  text-align: center;
  margin: 0;
  color: black;
}

#summary ol {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  text-align: left;
  line-height: normal;
}

#summary li {
  margin: 2rem 0;
}

#summary h3 {
  font-family: "Sixtyfour", sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

#summary .question {
  margin: 0.25rem 0;
  font-size: 1rem;
  font-family: Orbitron, sans-serif;
  color: black;
  font-weight: 550;
}

#summary .question.explanation {
  font-family: sans-serif;
  color: black;
  font-weight: 400;
}

#summary .user-answer {
  margin: 0.25rem 0;
  font-family: Orbitron, sans-serif;
  font-weight: 700;
  color: #2abb7f;
}

#summary .user-answer.correct {
  color: #2abb7f;
}

#summary .user-answer.wrong {
  color: #ff4500;
}

#summary .user-answer.skipped {
  color: black;
  font-weight: normal;
}

#summary-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  margin: auto;
  padding-bottom: 1.5rem;
  border-bottom: 4px dashed black;
  line-height: 1.5;
}

#summary-stats p {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
}

#summary-stats .number {
  font-family: "Sixtyfour", sans-serif;
  font-size: 2rem;
  color: #2abb7f;
}

#summary-stats .number.wrong {
  font-family: "Sixtyfour", sans-serif;
  font-size: 2rem;
  color: #ff4500;
}

#summary-stats .number.skipped {
  font-family: "Sixtyfour", sans-serif;
  font-size: 2rem;
  color: black;
}

#summary-stats .text {
  font-family: Orbitron, sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #2abb7f;
  margin-top: -0.7rem;
  margin-left: 0.2rem;
  letter-spacing: 0.1rem;
}

#summary-stats .text.wrong {
  color: #ff4500;
}

#summary-stats .text.skipped {
  color: black;
}

#author {
  color: white;
  margin: auto;
  padding: 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  #quiz {
    width: 100%;
    padding: 1rem;
  }

  body {
    padding: 0;
  }
  #summary {
    padding: 0.5rem;
  }
}

@keyframes slide-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
